* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica';
    font-style: normal;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.header{
    background-color: #0000FF;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.content {
    width: 90%;
    display: flex;
    border: 5px solid #000000;
    font-size: 25px;
    /* width: 330px;
    height: 165px; */
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px;
}

.last {
    margin-bottom: 0;
}

.footer {
    font-size: 20px;
}

@media only screen and (max-width: 390) {
    .page {
      background-color: #f35105; /* ?????почему фон не работает */
    }
}

  /* Макет для десктопов */
@media only screen and (min-width: 391px) {
    .page {
        width: 960px;
        margin: 0 auto;
    }
    .content {
        width: 40%;
        margin: 20px;
        /* width: 500px;  */
        /* height: 300px;
        font-size: 50px; */
    }

    .main {
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 20px;
        align-items: center;
        flex-wrap: wrap;
    }
}

